body {
  margin: 0;

}
.cnt {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left {
  margin: 0 3rem;
  width: 40%;
}
form input {
  margin-top: 3rem;
  color: var(--clr-black);
}
form input:active {
  border-color: var(--primary-clr-blue);
}
#sel {
  width: 60%;
  height: 2.5rem;
}
.name {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#fname {
  height: 3rem;
  width: 45%;
}
#lname {
  height: 3rem;
  width: 45%;
}
#Email {
  width: 60%;
}
#phone-no {
  width: 60%;
}
#pwd {
  width: 60%;
}
input {
  height: 2.5rem;
}
.container {
  flex-direction: column;
  width: 60vw;
  background-color: var(--primary-clr-blue);
  height: 100%;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  color: var(--clr-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
form button {
  background-color: var(--primary-clr-blue);
  color: var(--clr-white);
  width: 60%;
  height: 2.5rem;
  font-size: 1rem;
  border: 1px solid var(--clr-white);
  margin-top: 2rem;
}
.terms {
  width: 60%;
  margin-top: 2rem;
  color: var(--clr-black);
}
.lag {
  font-size: 3rem;
  width: 50%;
  margin-top: 4rem;
}
.right-txt {
  font-size: 2rem;
  width: 50%;
}
.tooltip {
  color: var(--clr-black);
  background-color: var(--primary-clr-blue);
  text-align: center;
  margin: auto;
  width: 70%;
}
.tool-ctn {
  width: 50vw;
  text-align: center;
  margin: auto;
}
.tool-ctn input {
  width: 70%;
  margin-top: 1rem;
}
.signin {
  text-align: center;
  background-color: rgb(231, 230, 230);

}
.tooltip {
  margin-top: 0;
}
.tooltip-ctn {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#roof {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 20px solid var(--primary-clr-blue);
      /* margin-top: -20px; */
      margin-top: 0;
      margin-left: 30%;
    }
